div.container
  div.col-lg-offset-2.col-lg-6
    h1= title
      p
        a.btn.btn-primary(href='/signup') Signup
        a.btn.btn-primary(href='settings') Settings
        a.btn.btn-primary(href='/signin') Sign in
        a.btn.btn-primary(href='/logout') Log Out

        if error
          div.alert #{error}
